{% extends 'base.html' %}
{% block content %}
<div id="left">
    <section id="content"> 
        <article class="pinnedPost">
            <img src="/static/pic1.png" alt="pic1" class="PinnedImg">
            <div class="pinnedTitle"> <a href="blog.html"> title </a> </div> 
            <div class="PinnedInfo"> <a href="blog.html">This is content. This is content. This is content. This is content. This is content. This is content. This is content.</a></div>
            <div style="clear:both"></div>
        </article>
        <article class="Post" href="static/banner.jpg"> 
            <div class="postTitle">title</div> 
            <div class="PostInfo">This is content. This is content. This is content. This is content. This is content. This is content. This is content.</div>
        </article>
    </section>
</div>
{% endblock %}

{% block right %}
<div id="right">
        right
</div>
{% endblock %}