{% extends 'base.html' %}
{% load myTags %}
{% block content %}
    {% for post,tags in postList%}
    <article class="testborder">
        <!--文章前面部分-->
        <div class="title">
            <h1><a href="/post/{{ post.link }}"> {{post.title}} </a></h1>
            <h4 style="text-indent:35px"><em> 发布于: {{ post.release_time }} / 最后修改于: {{post.modify_time}}</em></h4>
            <h4 style="text-indent:35px;">
                {% for tag in tags %}
                    <span style="margin-right:5px; margin-bottom:5px;">
                        <span class="label label-info"><a class="tag" href="/tag/{{ tag }}"> {{ tag }} </a></span> 
                    </span>
                {% endfor %}
            </h4>
        </div>
        <!--正文部分-->
        <div class="article">
            {% autoescape off %}
            {{ post.content|toMarkdown|toBrief }}
            {% endautoescape %}
        </div>
    </article>
    {% if not forloop.last%} <hr> {% endif%}
    {% endfor %}
    <!--分割线-->
    
{% endblock %}

{% block right %}
{% endblock %}